::-moz-selection {
   /* Code for Firefox */
   color: #16c1ff;
   background: #242e79;
}

::selection {
   color: #16c1ff;
   background: #242e79;
}

body {
   background: #F5F5F5 url("../assets/images/bg-blur.png") repeat center top;
   background-size: cover;
   color: #1d1d1d;
}

.nav-link {
   color: #1d1d1d !important;
   transition: all 0.3s ease-in-out;
}
.nav-link.active {
   color: #1d1d1d !important;
   font-weight: 700;
}
.nav-link:hover {
   font-size: 19px;
}

.navbar-toggler {
   border: none;
}.navbar-toggler:focus {
   border: none;
}.navbar-toggler:hover {
   box-shadow: none;
}

.dropdown-user .halaman-admin {
   padding: .25rem 1rem;
   background: -webkit-linear-gradient(#00AEEF, #2D388A);
               -webkit-background-clip: text;
               -webkit-text-fill-color: transparent;
   transition: all .3s ease-in-out;
}
.dropdown-user .halaman-admin:hover {
   background: linear-gradient(90deg, #2D388A 0%, #00AEEF 100%) !important;
   -webkit-text-fill-color: white;
   border-radius: 30px;
}

.dropdown-user .logout {
   background-color: #1d1d1d !important;
   color: white !important;
   padding: .25rem 1rem;
}



/* BEGIN: Hamburger Animated Menu */

.hamburger-menu-container {
   transition: all .5s ease-in-out;
}

.hamburger-menu-animated {
   width: 42px;
   height: 6px;
   border-radius: 30px;
   background-image: linear-gradient(to right, #2D388A, #00AEEF);
   box-shadow: 0 6px 30px 0px rgba(0, 174, 239, 0.3);
   cursor: pointer;
   transition: all .5s ease-in-out;
}

.hamburger-menu-animated::before,
.hamburger-menu-animated::after {
   content: '';
   position: absolute;
   width: 42px;
   height: 6px;
   border-radius: 30px;
   background-image: linear-gradient(to right, #2D388A, #00AEEF);
   box-shadow: 0 6px 30px 0px rgba(0, 174, 239, 0.3);
   transition: all .5s ease-in-out;
}

.hamburger-menu-animated::before {
   transform: translate(-8px,-14px);
}
.hamburger-menu-animated::after{
   transform: translate(-8px,14px);
}

.hamburger-menu-container.open .hamburger-menu-animated {
   transform: translateX(-50px);
   background: transparent;
   box-shadow: none;
}
.hamburger-menu-container.open .hamburger-menu-animated::before {
   transform: rotate(45deg) translate(35px,-35px);
}
.hamburger-menu-container.open .hamburger-menu-animated::after {
   transform: rotate(-45deg) translate(35px,35px);
}

/* END: Hamburger Animated Menu */



.kopeey-menu {
   font-family: 'Maven Pro', sans-serif;
   font-size: 18px;
   font-weight: 500;
   margin-left: 24px;
}

.hero-title {
   font-family: 'Maven Pro', sans-serif;
   font-size: 52px;
   font-weight: 700;
}

.hero-paragraph {
   font-family: 'Nunito Sans', sans-serif;
   font-size: 18px;
   font-weight: 400;
   line-height: 30px;
}

.btn-beli-sekarang {
   background-image: linear-gradient(to right, #2D388A, #00AEEF, #00AEEF, #2D388A);
   background-position: left;
   background-size: 200%;
   border-radius: 32px;
   box-shadow: 0 6px 30px 0px rgba(0, 174, 239, 0.3);
   color: white;
   font-family: 'Nunito Sans', sans-serif;
   font-size: 22px;
   font-weight: 700;
   transition: all 0.3s ease-in-out;
}
.btn-beli-sekarang:hover {
   background-position: right;
   color: white;
   font-size: 23px;
}

.hero-image {
   max-width: 100%;
   height: auto;
   margin-top: -30px;
   animation: hero-image-margin-top 1.5s infinite alternate;
}

@keyframes hero-image-margin-top {
   0% {
      margin-top: -30px;
   }
   100% {
      margin-top: -10px;
   }
}

.hero-glass {
   position: absolute;
   top: 0;
   right: 8%;
   width: 40%;
   height: 640px;
   background: linear-gradient(167.7deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.4) 90.89%);
   -webkit-backdrop-filter: blur(40px);
           backdrop-filter: blur(40px);
   border-radius: 0 0 2000px 2000px;
   box-shadow: 0px 4px 30px -1px rgba(0, 0, 0, 0.05);
   animation: hero-glass-height 1.5s infinite alternate;
   z-index: -1;
}

@keyframes hero-glass-height {
   0% {
      height: 640px;
   }
   100% {
      height: 660px;
   }
}

.categories {
   margin-top: 120px;
   margin-bottom: 190px;
}




/* BEGIN : CATEGORY BUTTON */

/* Customize the label (the container) */
.category-container {
   display: block;
   position: relative;
   cursor: pointer;
   font-size: 22px;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

/* Hide the browser's default radio */
.category-container input {
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
}

/* (Unchecked) Create a custom radio */
.btn-categories {
   width: 90%;
   font-family: 'Maven Pro', sans-serif;
   font-size: 18px;
   font-weight: 700;
}

/* When the radio is hovered, do... */
.category-container:hover input~.btn-categories {
   background: linear-gradient(90deg, #00A1FF 0%, #00FF8F 100%);
   border-width: 0px;
   border-radius: 24px;
   color: white;
   font-family: 'Maven Pro', sans-serif;
   font-size: 18.5px;
   font-weight: 700;
}

/* (Checked) When the radio is checked, do... */
.category-container input:checked ~ .btn-categories {
   width: 90%;
   background: linear-gradient(to right, #00A1FF, #00FF8F, #00FF8F, #00A1FF);
   background-position: left;
   background-size: 300%;
   border-width: 0px;
   border-radius: 24px;
   color: white;
   font-family: 'Maven Pro',
   sans-serif;
   font-size: 18px;
   font-weight: 700;
   transition: all 0.3s ease-in-out;
} .category-container input:checked ~ .btn-categories:hover { background-position: right; }

/* Create the checkmark/indicator (hidden when not checked) */
.btn-categories:after {
   content: "";
   position: absolute;
   display: none;
}

/* Show the checkmark when checked */
.category-container input:checked ~ .btn-categories:after {
   display: block;
}

/* END : CATEGORY BUTTON */





.card-container {
   margin-bottom: 200px;
}

.product-card-container {
   height: 100%;
}

.product-card {
   width: 100%;
   height: 100%;
   background: linear-gradient(143.39deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.3) 100%);
   border-top: 1px solid rgba(255, 255, 255, 1);
   border-left: 1px solid rgba(255, 255, 255, 1);
   /* border-right: 1px solid rgba(0, 255, 143, 0.4); */
   border-bottom: 1px solid rgba(0, 161, 255, 0.4);
   box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
   -webkit-backdrop-filter: blur(40px);
           backdrop-filter: blur(40px);
   border-radius: 36px;
   padding-left: 16px;
   padding-right: 16px;
   transform: perspective(1000px);
   transform-style: preserve-3d;
}

.product-category {
   width: -webkit-fit-content;
   width: -moz-fit-content;
   width: fit-content;
   background: linear-gradient(90deg, #00AEEF 0%, #00FF8F 100%);
   border: 0;
   border-radius: 30px;
   color: white;
   cursor: text;
   font-family: 'Maven Pro', sans-serif;
   font-size: 14px;
   font-weight: 700;
   padding-top: 2px;
   padding-bottom: 2px;
   padding-left: 16px;
   padding-right: 16px;
} .product-category:hover { color: white; }

.product-name a {
   position: relative;
   color: #1d1d1d;
   font-family: 'Nunito Sans', sans-serif;
   font-size: 24px;
   font-weight: 600;
   text-decoration: none;
   transition: all 0.2s ease-in-out;
} .product-name a:hover { font-size: 24.5px; }

.product-price {
   font-family: 'Nunito Sans', sans-serif;
   font-size: 28px;
   font-weight: 700;
}

.btn-cart {
   position: relative;
   width: 60px;
   height: 60px;
   background-image: linear-gradient(to right top, #2D388A, #00AEEF, #00AEEF, #2D388A);
   background-position: left bottom;
   background-size: 1000%;
   border-width: 0px;
   border-radius: 32px;
   box-shadow: 0 6px 30px 0px rgba(0, 174, 239, 0.3);
   color: white;
   font-size: 28px;
   line-height: 50px;
   margin-top: -30px;
   transition: all 0.3s ease-in-out;
}
.btn-cart:hover {
   background-position: right top;
   color: white;
   font-size: 29px;
}

.product-image {
   height: 330px;
   margin-top: -90px;
}

.footer {
   background: linear-gradient(85.02deg, #2D388A 0%, #2B8DC6 55.21%, #00FF8F 100%);
   margin-top: 160px;
   padding-top: 100px;
   animation: bg-footer-animation 2s infinite alternate;
}
@keyframes bg-footer-animation {
   0% {
      background-size: 150%;
   }
   100% {
      background-size: 100%;
   }
}

.footer .hero-paragraph {
   color: white !important;
}

.footer-group-name {
   font-family: 'Nunito Sans', sans-serif;
   font-size: 20px;
   font-weight: 700;
   color: white !important;
}

.footer-link a {
   color: white;
   font-family: 'Nunito Sans', sans-serif;
   font-size: 18px;
   font-weight: 400;
   text-decoration: none;
   transition: all 0.3s ease-in-out;
} .footer-link a:hover { font-weight: 700; }

.footer-link a i {
   color: white;
   font-size: 32px;
   margin-right: 12px;
   transition: all 0.3s ease-in-out;
} .footer-link a:hover i { font-size: 34px; }

.footer-copyright {
   font-family: 'Nunito Sans', sans-serif;
   font-size: 20px;
   font-weight: 700;
   color: white !important;
   background: rgba(0, 0, 0, 0.2);
   padding: 24px 0 24px;
}

.footer-copyright span {
   font-weight: 700;
}

.btn-outline-admin {
   background-color: transparent;
   border: 1px solid #1A69B4;
   border-radius: 30px;
   margin-top: 6px;
   transition: all 0.3s ease-in-out;
}
.btn-outline-admin:hover {
   border: none;
   background: linear-gradient(90deg, #2D388A 0%, #00AEEF 100%);
}

.btn-outline-admin a {
   color: #1A69B4 !important;
   padding: 2px;
}
.btn-outline-admin:hover a {
   color: white !important;
}

.my-label {
   width: fit-content;
   background: #101010;
   border: 0;
   border-radius: 30px;
   color: white;
   cursor: text;
   font-family: 'Maven Pro', sans-serif;
   font-size: 16px;
   font-weight: 500;
   padding-left: 6px;
   padding-right: 6px;
}

.my-label-blue {
   background: linear-gradient(90deg, #2D388A 0%, #00AEEF 100%);
   font-weight: 600;
}

.dropdown-menu {
   background: linear-gradient(90deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.1) 100%);
   border: 1px solid #1A69B4;
   border-radius: 16px;
   box-shadow: 0 6px 30px 0px rgba(26, 105, 180, .1);
   -webkit-backdrop-filter: blur(40px);
           backdrop-filter: blur(40px);
   padding: 16px;
}

.dropdown-item {
   border-radius: 30px;
   color: #1d1d1d;
   transition: all 0.3s ease-in-out;
}
.dropdown-item:hover {
   background: linear-gradient(90deg, #2D388A 0%, #00AEEF 100%);
   border-radius: 30px;
   color: white;
}



/* BREAKPOINTS */

/* [XXL] Extra Extra large devices | 1400px < | */
@media only screen and (min-width: 1400px) {
   .hero-glass {
      right: 14%;
      width: 36%;
   }
}

/* [XL] Extra large devices (large laptops and desktops) | < 1400px | */
@media only screen and (max-width: 1400px) {}

/* [LG] Large devices (laptops/desktops) | < 1200px | */
@media only screen and (max-width: 1200px) {
   .hero-glass {
      right: 6%;
      width: 40%;
   }
   .footer {
      margin-top: 40px;
   }
}

/* [MD] Medium devices (landscape tablets) | < 992px | */
@media only screen and (max-width: 992px) {
   .navbar-collapse {
      margin-top: 8px;
   }
   .nav-item {
      padding-bottom: 2px;
   }
   .hero-glass {
      display: none;
      animation: none;
   }
   .hero-image {
      margin-top: 60px;
      max-width: 90%;
      animation: none;
   }
   .categories {
      margin-top: 80px;
   }
   .card-container {
      margin-bottom: 180px;
   }
   .dropdown-menu {
      margin-bottom: 16px;
   }
}

/* [SM] Small devices (portrait tablets and large phones) | < 768px | */
@media only screen and (max-width: 768px) {
   .card-container {
      margin-bottom: 160px;
   }
}

/* [XS] Extra small devices (phones) | < 576px | */
@media only screen and (max-width: 576px) {
   body {
      background: #F5F5F5 url("../assets/images/bg-blur.png") no-repeat ;
      background-size: cover;
      color: #1d1d1d;
   }
   .container {
      padding-left: 24px;
      padding-right: 24px;
   }
   .product-image {
      height: 290px;
      margin-top: -40px;
   }
   .card-container {
      margin-bottom: 110px;
   }
   .product-catalogues {
      margin-left: 0;
      margin-right: 0;
   }
   .hero-title {
      font-size: 44px;
   }
   .hero-paragraph {
      font-size: 16px;
      line-height: 26px;
   }
   .categories {
      margin-top: 80px;
      margin-bottom: 100px;
   }
   .footer {
      padding-top: 70px;
      background: linear-gradient(to right top, #2D388A 0%, #2B8DC6 55.21%, #00FF8F 100%);
   }
}